.row.h-100
  .wave.yellow.h-100([ngClass]="{ 'col-1': selected !== 1, 'col-10': selected === 1 }", (click)="select(1)") A
  .wave.red.h-100([ngClass]="{ 'col-1': selected !== 2, 'col-10': selected === 2 }", (click)="select(2)") B
  .wave.blue.h-100([ngClass]="{ 'col-1': selected !== 3, 'col-10': selected === 3 }", (click)="select(3)") C